/* Bootstrap overrides */

.panel {
    background-color: #333;
    border: 1px solid #000;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.panel-footer {
    background-color: #000;
    border-top: 1px solid #000;
}

.form-control {
    width: 100%;
    color: #fff;
    background-color: #555;
    border: 1px solid #333;
}

#roadtrip-form-page {
    height: 100vh;
}